.header{
    background-color: cadetblue;
    height:250px;
    width:100%;
    display: inline-block;
}
.header h1{
    color:white;
    margin:0px;
    text-align: center;
    font-size: 40px;
    margin-top:90px;
}
