.launch{
    height:300px;
    width: 1000px;
    padding: 10px;
    background-color: brown;
    display: flex;
    
}

.launch img{
    height:200px;
    width:200px;

}
.content .info{
    display: flex;

}